$secondary: #A4CFA4;

/* Reset and Basic Styles */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #E0E7F0;
    color: #333333;
    
}

footer {
    background-color: #C5C8E7;
    color: #ffffff;
}

.modal-header {
    background-color: #8FBC8F;
    color: #333333;
}

.modal-body {
    background-color: #D8D8F0;
    color: #333333;
}

/* Navbar Brand */
.navbar-brand {
    color: #333333;
    margin-left:  15px;
}

#modal-footer {
    display: flex;
    background-color: #C5C8E7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    padding: 5px;
}

#table-button,
.results-count,
#next-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-section {
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333333;
}

.question-section {
    background-color: #E6E6FA;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #333333;
}

.about-section {
    background-color: #E6E6FA;
    display: flex;
    border: 10px;
    align-items: center;
    color: #333333;
}

.about-content {
    padding: 30px;
}

.questions {
    text-align: left;
    padding-left: 5%;
    margin-bottom: 20px;
}

.common-name {
    text-align: center;
}

#results-table {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

#results-table th {
    background-color: #C5C8E7;
    color: #333333;
    font-weight: bold;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#results-table td {
    background-color: #E6E6FA;
    color: #333333;
    padding: 0px 0px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        height: 8vh;
    }

    .navbar-expand-lg .navbar-collapse {
        background-color: #A4CFA4; /* Replace with your desired background color */
    }

    .text-center {
        padding: 15px;
    }

    .btn-learn-more {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
    }

    #back-button-sunlight,
    #back-button-poisonous {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    #start-button,
    #start-button-1,
    #start-button-2,
    #suggest-button {
        display: block;
        margin: 0 auto;
        max-width: fit-content;
    }

    .intro-section,
    .question-section {
        height: 70vh;
        padding: 100px;
    }

    .photo-section {
        order: -1;
        height: 30vh;
    }

    .container.plant-details-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .common-name {
        font-size: 24px;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .details-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grid-item {
        background-color: #E6E6FA;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }

    .description {
        padding: 15px;
        font-size: 16px;
    }

    .table-image {
        max-width: 50px;
    }
}

@media (min-width: 768px) {
    .table-results-button {
        justify-content: center;
    }

    .back {
        position: absolute;
        bottom: 5vh;
        left: 1vw;
    }

    .forward {
        position: absolute;
        bottom: 5vh;
        right: 1vw;
    }

    .radio-label {
        margin-left: 10px;
    }

    .start-button-1 {
        border-top: 50px;
    }

    .intro-section,
    .question-section,
    .about-section {
        height: 100vh;
    }

    .photo-section {
        height: 100vh;
    }

    .table-image {
        max-width: 75px;
    }

    .suggest-image {
        max-width: 500px;
    }

    .plant-details-grid {
        background-color: #D8D8F0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        max-height: 80vh;
        overflow-y: auto;
    }

    .common-name {
        font-size: 28px;
    }

    .image {
        text-align: center;
        max-width: 100%;
        border-radius: 10px;
        height: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }

    .details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .plant-details-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        background-color: #D8D8F0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .image img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }

    .details-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-item {
        background-color: #E6E6FA;
        padding: 15px;
        border-radius: 10px;
        color: #333333;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .description {
        grid-column: span 2;
        padding: 20px;
        border-radius: 10px;
        font-size: 18px;
    }
}

.btn-main.btn {
    background-color: #FFB6C1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-main.btn:hover {
    background-color: #FFDCE0;
    color: #ffffff;
    outline: solid;
}

.btn-page.btn {
    background-color: #A4CFA4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-page.btn:hover {
    background-color: #A4CFA4;
    color: #ffffff;
    outline: solid;
}

#question-buttons {
    margin: 25px;
}
    
@import '../node_modules/bootstrap/scss/bootstrap';