/* Color Theme Swatches in Hex */
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-1-hex { color: #212621; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-2-hex { color: #758C72; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-3-hex { color: #737166; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-4-hex { color: #D9D4CC; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-5-hex { color: #40230A; }

:root {
    --main-bg-color: #212621;
  }

body {
    margin: 0;
}

header {
    display: flex;
    margin: 0;
    background-color: #758C72;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #758C72;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: #D9D4CC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*change the link color to #697e66 on hover */
li a:hover {
    background-color: #697e66
}

footer {
    display: flex;
    margin: 0;
    background-color: #758C72;
  }

section {
    
    background-color: #737166;
}