/* Color Theme Swatches in Hex */
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-1-hex { color: #212621; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-2-hex { color: #758C72; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-3-hex { color: #737166; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-4-hex { color: #D9D4CC; }
.color-theme_quiet-wave-spring-summer-color-trend-2021-3-5-hex { color: #40230A; }
